.swal2-title {
  font-size: 24px; /* Thay đổi kích thước font chữ của tiêu đề */
}

.swal2-content {
  font-size: 18.75px; /* Thay đổi kích thước font chữ của nội dung */
}

.swal2-confirm {
  font-size: 16px; /* Thay đổi kích thước font chữ của nút xác nhận */
}
.swal2-icon {
  font-size: 10px; /* Thay đổi kích thước icon */
}
.swal2-button {
  font-size: 16px; /* Thay đổi kích thước font chữ của nút xác nhận */
}
