.history,
.topPlayer,
.user {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  td,
  th {
    padding: 8px;
    border: 1px solid #ddd;
  }
  .boxHistory:nth-child(odd),
  .boxTopPlayer:nth-child(odd) .boxUser:nth-child(odd) {
    td,
    th {
      background-color: #f9f9f9;
    }
  }
  .boxHistory:hover,
  .boxUser:hover,
  .boxTopPlayer:hover {
    td,
    th {
      background-color: #f5f5f5;
    }
  }
}
